.package-card {
  width: 320px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.package-card:hover {
  transform: translateY(-5px);
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.heart-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  font-size: 20px;
  color: #666;
}

.heart.active {
  color: red;
}

.package-content {
  padding: 18px;
}

.package-content h3 {
  margin-bottom: 8px;
}

.package-content p {
  color: #777;
  margin-bottom: 15px;
}

.package-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #0077ff;
}

.book-btn {
  border: none;
  background: #0077ff;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}